@model MvcApplication4.Models.User
@{
    ViewBag.Title = "Welcome";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                
            </hgroup>
           
        </div>
    </section>
}
<h3>Registration </h3>

<div id="checking">Checking...</div>
<form method="post" action= "/User/Register">

    <input type="text"  name="Name" value="Username" id="UserName"/> <input id="b1" type="button" value="check"  />
    <br /><div id="result"></div>
    <input type="text" name="Password" value="Password" /><br />
    <input type="submit" class="btn btn-info" value="Register" />
   
    
   

    
    
    
   



</form>
@Scripts.Render("~/bundles/jquery")
<script>

    $(document).ready(function () {

        $('#checking').hide();

        $('#b1').click(function () {

            var userName = $('#UserName').val();

            //alert('User Name ='+ userName);
            $('#checking').show();
            $.getJSON("/User/CheckUserName?UserName=" + userName, function (data) {
                $('#checking').hide();
                if (data) {
                    $('#result').text("User already exists in database");

                }
                else {
                    $('#result').text("User Name is available");
                }
            });

        });

    });
</script>